<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="@{'/public/images/favicon.png'}"> &nbsp; WeatherTop
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a id="dashboard" class="navbar-item">Dashboard</a>
        <a id="about" class="navbar-item">About</a>
      </div>
    </div>
  </div>
</nav>
<script>
  $("#${_id}").addClass("is-active has-text-weight-semibold");
</script>