<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <p class="has-text-weight-semibold">WeatherTop</p>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a id="home" class="navbar-item" href="../">Home</a>
        <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
        <a id="about" class="navbar-item" href="/about">About</a>
      </div>
    </div>
  </div>
</nav>
<script>
  $("#${_id}").addClass("is-active has-text-weight-semibold");
</script>