 <div class="block">
    <div class="card">
        <div class="card-content">
            <h2 class="title">
                ${station.name}
            </h2>
            <div class="block">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Temp</th>
                            <th>Wind Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        #{list items:_station.readings, as:'reading'}
                        <tr>
                            <td>${reading.code}</td>
                            <td>${reading.temperature}</td>
                            <td>${reading.windSpeed}</td>
                        </tr>
                        <tr>
                            <td>600</td>
                            <td>6.0</td>
                            <td>2.0</td>
                        </tr>
                        #{/list}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>