 <div class="block">
    <div class="card">
        <div class="card-content">
            <h2 class="title">
                Tramore
            </h2>
            <div class="block">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Temp</th>
                            <th>Wind Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>800</td>
                            <td>0.5</td>
                            <td>3.5</td>
                        </tr>
                        <tr>
                            <td>600</td>
                            <td>6.0</td>
                            <td>2.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>