<br>
<div class="block">
    <div class="container has-text-centered">
        <br>
        <h2 class="title">About WeatherTop Inc.</h2>
        <br>
        <p>Established in 2021, WeatherTop Inc. produce a modular weather station called the WeatherTop 1000.
            This low cost device takes a set of meteoroligical readings and displays them on a simple
            LCD display.
        </p>
        <br>
        <br>
        <h2 class="title">Meet the Team</h2>
        <br>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="@{'/public/images/ashton-bingham.jpg'}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Ashton Bingham</p>
                                <p class="subtitle is-6">Owner & Founder</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Born and raised in California, Ashton has a strong background in technology - having
                                worked in Google for the last 12 years as lead software engineer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="@{'/public/images/alex-sejoro.jpg'}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Alex Sejoro</p>
                                <p class="subtitle is-6">Chief Data Officer</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Alex has worked all over the globe studying weather patterns. If anyone knows how the
                                weather works, it's Alex. She is the driving force behind the WeatherTop 1000.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="@{'/public/images/viktor-forgacs.jpg'}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Viktor Forgacs</p>
                                <p class="subtitle is-6">Chief Engineering Officer</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Originally from India, Viktor moved to California as a transfer, after working in
                                Microsoft's R&D department. He has a keen eye for detail.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>