#{if _station.readings.size() > 0}
<div class="columns">
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Location
            </div>
            <div class="message-body">
                ${_station.name} <br>
                latitude: ${_station.latitude}<br>
                longitude: ${_station.longitude}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Weather
            </div>
            <div class="message-body">
                <p>
                    #{verbatim}${_station.weatherCodeToString}#{/verbatim}
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Temperature
            </div>
            <div class="message-body">
                <p>
                    ${_station.readings.temperature.last()} °C <br> / ${_station.temperatureInFahrenheit} °F <br>
                    <br>
                    min: ${_station.minTemp} °C <br>
                    max: ${_station.maxTemp} °C
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Wind
            </div>
            <div class="message-body">
                <p>${_station.readings.windSpeed.last()} km/h / ${_station.windSpeedToBft}</p>
                <p>${_station.windDirectionToText}</p>
                <p>Feels like ${_station.feelsLike} °C</p>
                <p>min: ${_station.minWindSpeed} km/h</p>
                <p>max: ${_station.maxWindSpeed} km/h</p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Pressure
            </div>
            <div class="message-body">
                <p>${_station.readings.pressure.last()} bpa</p>
                <br>
                <p>min: ${_station.minPressure} bpa</p>
                <p>max: ${_station.maxPressure} bpa</p>
                
            </div>
        </article>
    </div>
</div>
#{/if}

#{else}
<p>No readings have been found!</p>
#{/else}