#{if _station.readings.size() > 0}
<div class="columns">
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Location
            </div>
            <div class="message-body">
                ${_station.name} <br>
                latitude: ${_station.latitude}<br>
                longitude: ${_station.longitude}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Weather
            </div>
            <div class="message-body">
                <p>
                    ${_station.weatherCodeToString}
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Temperature
            </div>
            <div class="message-body">
                <p>
                    ${_station.readings.temperature.last()} °C <br/>
                    ${_station.temperatureInFahrenheit} °F
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Wind
            </div>
            <div class="message-body">
                <p>
                    ${_station.windSpeedToBft}
                </p>
                <p>
                    ${_station.windDirectionToText}
                </p>
                <p>
                    Feels like ${_station.feelsLike} °C
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Pressure
            </div>
            <div class="message-body">
                <p>
                    ${_station.readings.pressure.last()} bpa
                </p>
            </div>
        </article>
    </div>
</div>
#{/if}

#{else}
<p>No readings have been found!</p>
#{/else}