#{if _station.readings.size() > 0}
<div class="columns">
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Location
            </div>
            <div class="message-body">
                ${_station.name}
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Weather
            </div>
            <div class="message-body">
                <p>
                    #{if _station.readings.code.last() == 100}
                    Clear
                    #{/if}
                    #{elseif _station.readings.code.last() == 200}
                    Partial Clouds
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 300}
                    Cloudy
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 400}
                    Light Showers
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 500}
                    Heavy Showers
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 600}
                    Rain
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 700}
                    Snow
                    #{/elseif}
                    #{elseif _station.readings.code.last() == 800}
                    Thunder
                    #{/elseif}
                    #{else}
                    Unknown
                    #{/else}
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Temperature
            </div>
            <div class="message-body">
                <p>
                    ${_station.readings.temperature.last()} °C <br/>
                    ${(_station.readings.temperature.last()) * (9/5) + 32} °F
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Wind
            </div>
            <div class="message-body">
                <p>
                    #{if _station.readings.windSpeed.last() <= 1}
                    0 bft
                    #{/if}
                    #{elseif _station.readings.windSpeed.last() > 1 && _station.readings.windSpeed.last() <= 5 }
                    1 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 5 && _station.readings.windSpeed.last() <= 11 }
                    2 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 11 && _station.readings.windSpeed.last() <= 19 }
                    3 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 19 && _station.readings.windSpeed.last() <= 28 }
                    4 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 28 && _station.readings.windSpeed.last() <= 38 }
                    5 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 38 && _station.readings.windSpeed.last() <= 49 }
                    6 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 49 && _station.readings.windSpeed.last() <= 61 }
                    7 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 61 && _station.readings.windSpeed.last() <= 74 }
                    8 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 74 && _station.readings.windSpeed.last() <= 88 }
                    9 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 88 && _station.readings.windSpeed.last() <= 102 }
                    10 bft
                    #{/elseif}
                    #{elseif _station.readings.windSpeed.last() > 102 && _station.readings.windSpeed.last() <= 117 }
                    11 bft
                    #{/elseif}
                    #{else}
                    Unknown
                    #{/else}
                </p>
                <p>
                    #{if _station.readings.windDirection.last() >= 11.25 && _station.readings.windDirection.last() < 33.75}
                    North North East
                    #{/if}
                    #{elseif _station.readings.windDirection.last() >= 33.75 && _station.readings.windDirection.last() < 56.25}
                    North East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 56.25 && _station.readings.windDirection.last() < 78.75}
                    East North East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 78.75 && _station.readings.windDirection.last() < 101.25}
                    East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 101.25 && _station.readings.windDirection.last() < 123.75}
                    East South East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 123.75 && _station.readings.windDirection.last() < 146.25}
                    South East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 146.25 && _station.readings.windDirection.last() < 168.75}
                    South South East
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 168.75 && _station.readings.windDirection.last() < 191.25}
                    South
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 191.25 && _station.readings.windDirection.last() < 213.75}
                    South South West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 213.75 && _station.readings.windDirection.last() < 236.25}
                    South West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 236.25 && _station.readings.windDirection.last() < 258.75}
                    West South West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 258.75 && _station.readings.windDirection.last() < 281.25}
                    West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 281.25 && _station.readings.windDirection.last() < 303.75}
                    West North West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 303.75 && _station.readings.windDirection.last() < 326.25}
                    North West
                    #{/elseif}
                    #{elseif _station.readings.windDirection.last() >= 326.25 && _station.readings.windDirection.last() < 348.75}
                    North North West
                    #{/elseif}
                    #{else}
                    North
                    #{/else}
                </p>
                <p>
                    Feels like
                </p>
                <p>
                    ${Math.round((13.12 + 0.6215 * _station.readings.temperature.last() - 11.37 * Math.pow(_station.readings.windSpeed.last(), 0.16) + 0.3965 * _station.readings.temperature.last() * Math.pow(_station.readings.windSpeed.last(), 0.16)) * 10) / 10.0}
                </p>
            </div>
        </article>
    </div>
    <div class="column is-one-fifth">
        <article class="message is-info">
            <div class="message-header">
                Pressure
            </div>
            <div class="message-body">
                <p>
                    ${_station.readings.pressure.last()} bpa
                </p>
            </div>
        </article>
    </div>
</div>
#{/if}

#{else}
<p>No readings have been found!</p>
#{/else}