<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <p class="has-text-weight-semibold">WeatherTop</p>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      #{if session.contains("logged_in_Memberid")}
        <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
        <a id="about" class="navbar-item" href="/about">About</a>
      #{/if}
      #{ifnot session.contains("logged_in_Memberid")}
        <a id="about" class="navbar-item" href="/about">About</a>
      #{/ifnot}
      <div class="navbar-end">
        #{if session.contains("logged_in_Memberid")}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Account</a>
          <div class="navbar-dropdown is-right">
            <a id="account" class="navbar-item" href="#">My Account</a>
            <a id="logout" class="navbar-item" href="/logout">Log Out</a>
          </div>
        </div>
        #{/if}
        #{ifnot session.contains("logged_in_Memberid")}
        <a id="register" class="navbar-item" href="/register">Register</a>
        <a id="login" class="navbar-item" href="/login">Log In</a>
        #{/ifnot}
      </div>
    </div>
  </div>
</nav>
<script>
  $("#${_id}").addClass("is-active has-text-weight-semibold");
</script>
<script>
  $(document).ready(function() {

// Check for click events on the navbar burger icon
$(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});
</script>