<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <p class="has-text-weight-semibold">WeatherTop</p>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a id="home" class="navbar-item" href="../">Home</a>
        #{if session.contains("logged_in_Memberid")}<a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>#{/if}
        <a id="about" class="navbar-item" href="/about">About</a>
        #{ifnot session.contains("logged_in_Memberid")}<a id="register" class="navbar-item" href="/register">Register</a>#{/ifnot}
        #{ifnot session.contains("logged_in_Memberid")}<a id="login" class="navbar-item" href="/login">Log In</a>#{/ifnot}
        #{if session.contains("logged_in_Memberid")}<a id="logout" class="navbar-item" href="/logout">Log Out</a>#{/if}
      </div>
    </div>
  </div>
</nav>
<script>
  $("#${_id}").addClass("is-active has-text-weight-semibold");
</script>
<script>
  $(document).ready(function() {

// Check for click events on the navbar burger icon
$(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});
</script>