#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{nav id:"dashboard", member:member /}
#{hero /}
<div class="container">
    <div class="columns is-multiline is-mobile">
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">
                        Add New Station
                    </h2>
                    <form action="/dashboard/addStation" method="post">
                        <div class="columns is-multiline">
                            <div class="column is-3">
                                <input class="input is-rounded" type="text" placeholder="Station Name" name="name">
                            </div>
                            <div class="column is-3">
                                <input class="input is-rounded" type="text" placeholder="Latitude" name="lat">
                            </div>
                            <div class="column is-3">
                                <input class="input is-rounded" type="text" placeholder="Longitude" name="lng">
                            </div>
                            <div class="column is-3">
                                <button class="button is-info submit is-fullwidth is-rounded">Add Station</button>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
        #{list items:stations, as:'station'}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">
                        ${station.name}
                    </h2>
                    #{displayInfo station:station/}
                    <div class="buttons is-centered">
                        <a href="/station/${station.id}"><button class="button is-info is-rounded">View Station</button></a>
                        <a href="/dashboard/deletestation/${station.id}"><button class="button is-danger is-rounded">Delete Station</button></a>
                    </div>
                </div>
            </div>
        </div>
        #{/list}
    </div>
</div>