#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{nav id:"dashboard" /}
#{hero /}
<div class="container">
    <div class="columns is-multiline is-mobile">
        #{list items:stations, as:'station'}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">
                        ${station.name}
                    </h2>
                    #{displayInfo station:station/}
                    <a href="/station/${station.id}"><button class="button is-info">View Station</button></a>
                </div>
            </div>
        </div>
        #{/list}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <form action="/dashboard/addStation" method="post">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <input class="input" type="text" placeholder="Station Name" name="name">
                            </div>
                            <div class="column is-6">
                                <input class="input" type="text" placeholder="Latitude" name="lat">
                            </div>
                            <div class="column is-6">
                                <input class="input" type="text" placeholder="Longitude" name="lng">
                            </div>
                            <div class="column is-12">
                                <button class="button is-info submit">Add Station</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>