#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{nav id:"dashboard", member:member /}
#{hero /}
<div class="container">
    <div class="columns is-multiline is-mobile">
        #{list items:stations, as:'station'}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">
                        ${station.name}
                    </h2>
                    #{displayInfo station:station/}
                </div>
                <div class="card-footer">
                    <a href="/station/${station.id}" class="card-footer-item has-background-info has-text-light">View Station</a>
                    <a href="/dashboard/deletestation/${station.id}" class="card-footer-item has-background-danger has-text-light">Delete Station</a>
                </div>
            </div>
        </div>
        #{/list}
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">
                        Add New Station
                    </h2>
                    <form action="/dashboard/addStation" method="post">
                        <div class="columns is-multiline">
                            <div class="column is-3">
                                <input class="input" type="text" placeholder="Station Name" name="name">
                            </div>
                            <div class="column is-3">
                                <input class="input" type="text" placeholder="Latitude" name="lat">
                            </div>
                            <div class="column is-3">
                                <input class="input" type="text" placeholder="Longitude" name="lng">
                            </div>
                            <div class="column is-3">
                                <button class="button is-info submit is-fullwidth">Add Station</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>