<!DOCTYPE html>

<html>
<head>
    <title>WeatherTop | #{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bulma.min.css'}">
    <style>.message{height: 100%;}</style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/466e86589a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>

    #{doLayout /}
    <footer class="footer has-background-info">
        <div class="content has-text-centered has-text-white">
            <p>
                WeatherTop, built with ☕
                by <a class="has-text-white" href="https://jord.dev"><strong>Jordan Harrison</strong></a>.
            </p>
        </div>
    </footer>
</body>
</html>
