<!DOCTYPE html>

<html>
<head>
    <title>WeatherTop | #{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bulma.min.css'}">
    <style>.message{height: 100%;}</style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/466e86589a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>

    #{doLayout /}
</body>
</html>
