#{extends 'main.html' /} #{set title:'Register' /}
<section class="hero is-info">
  #{nav id:"register"/} #{hero /}
</section>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <br>
      <br>
      <br>
      <div class="card">
        <div class="card-content">
          <h2 class="title has-text-centered">Register</h2>
          <form action="/registration" method="post">
            <div class="columns is-multiline">
              <div class="column is-half">
                <div class="field">
                  <label class="label">First Name</label>
                  <input class="input " type="text" placeholder="First Name" name="firstname">
                </div>
              </div>
              <div class="column is-half">
                <div class="field">
                  <label class="label">Last Name</label>
                  <input class="input " type="text" placeholder="Last Name" name="lastname">
                </div>
              </div>
              <div class="column is-half">
                <div class="field">
                  <label class="label">Email</label>
                  <input class="input " type="email" placeholder="your@email.com" name="email">
                </div>
              </div>
              <div class="column is-half">
                <div class="field">
                  <label class="label">Password</label>
                  <input class="input " type="password" placeholder="**********" name="password">
                </div>
              </div>
              <div class="column is-full">
                <button class="button is-success submit is-fullwidth ">Register Now</button>
                <div class="buttons is-centered">
                  <a href="/login">
                    <button class="button is-ghost">Already have an account? Log in now!
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>